<!-- navbar.html -->
<header class="navbar-container">
    <div class="navbar">
      <div class="brand">Hotels And Resorts</div>
      <button class="check-btn">Check Availability</button>
    </div>
  
    <nav class="main-nav">
      <a routerLink="/home">home</a>
      <a routerLink="/hotel-list">hotels</a>
      <a routerLink="/about">about</a>
      <a href="#">reservation</a>
      <a href="#">gallery</a>
      <a routerLink="/contact">contact</a>
      <a href="#">reviews</a>
    </nav>
  </header>
  